[user]
	name = Rick Cogley
	email = rick.cogley@esolia.co.jp
	signingkey = /Users/rcogley/.ssh/jrc-id_ed25519-241104.pub
[core]
	autocrlf = input
	safecrlf = true
	editor = code --new-window --wait
	excludesfile = /Users/rcogley/.gitignore_global
	whitespace = trailing-space,space-before-tab
	pager = bat
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[diff]
    tool = code
[difftool "code"]
    cmd = code --wait --new-window --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --new-window --merge $REMOTE $LOCAL $BASE $MERGED
[push]
	default = tracking
[pull]
	rebase = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[github]
	user = rickcogley
[ghi]
	token = !security find-internet-password -a rickcogley -s github.com -l 'ghi token' -w
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
	format = ssh
[commit]
	gpgsign = false
[url "https://"]
	insteadOf = git://
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = rick.cogley@esolia.co.jp
	smtpServerPort = 587
	smtppass = xotrctbssgobgxgk
	multiEdit = true
[gc]
	autoDetach = false
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
